<script>
import companyCount from '~/queries/posts/companyCount.gql'
import internCount from '~/queries/posts/internCount.gql'
import internshipPostCount from '~/queries/posts/internshipPostCount.gql'
import companyMonth from '~/queries/posts/companymonth.gql'
import internMonth from '~/queries/posts/internmonth.gql'

export default {
  layout: 'admin',
  data() {
    return {
      aggregateData: {
        company: 0,
        intern: 0,
        post: 0,
      },
      options: {
        theme: {
          monochrome: {
            enabled: true,
            color: '#008080',
            shadeTo: 'light',
            shadeIntensity: 0.65,
          },
        },
        chart: {
          id: 'admin-chart',
        },
        xaxis: {
          categories: [
            'Jan',
            'Feb',
            'Mar',
            'Apr',
            'May',
            'Jun',
            'Jul',
            'Aug',
            'Sep',
            'Oct',
            'Nov',
            'Dec',
          ],
        },
      },
      seriess: [
        {
          name: 'Interns',
          data: [],
        },
      ],
      series: [
        {
          name: 'Companies',
          data: [],
        },
      ],
    }
  },
  head() {
    return {
      title: 'Dashboard',
    }
  },
  methods: {},
  apollo: {
    Intern: {
      query: internMonth,
      manual: true,
      result({ data }) {
        const thisYear = new Date().getFullYear()
        const newIntern = data.intern.filter(
          (item) => new Date(item.email_confirmed_at).getFullYear() === thisYear
        )
        const monthArr = []

        if (newIntern.length > 0) {
          for (let i = 0; i < 12; i++) {
            let count = 0
            newIntern.forEach((item) => {
              if (new Date(item.email_confirmed_at).getMonth() === i) {
                count++
              }
            })
            monthArr[i] = count
          }
          this.seriess[0].data = monthArr
        } else {
          this.seriess[0].data = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
        }
      },
      error(error) {
        console.log(error)
      },
    },
    company: {
      query: companyMonth,
      manual: true,
      result({ data }) {
        const thisYear = new Date().getFullYear()
        const newComps = data.company.filter(
          (item) => new Date(item.email_confirmed_at).getFullYear() === thisYear
        )
        const monthArr = []

        if (newComps.length > 0) {
          for (let i = 0; i < 12; i++) {
            let count = 0
            newComps.forEach((item) => {
              if (new Date(item.email_confirmed_at).getMonth() === i) {
                count++
              }
            })
            monthArr[i] = count
          }
          this.series[0].data = monthArr
        } else {
          this.series[0].data = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
        }
      },
      error(error) {
        console.log(error)
      },
    },
    $subscribe: {
      company: {
        query: companyCount,
        manual: true,
        fetchPolicy: 'network-only',
        result({ data }) {
          this.aggregateData.company = data.company_aggregate.aggregate.count
        },
        error(error) {
          console.log(error)
        },
      },
      intern: {
        query: internCount,
        manual: true,
        fetchPolicy: 'network-only',
        result({ data }) {
          this.aggregateData.intern = data.intern_aggregate.aggregate.count
        },
        error(error) {
          console.log(error)
        },
      },
      internshipPosts: {
        query: internshipPostCount,
        manual: true,
        fetchPolicy: 'network-only',
        result({ data }) {
          this.aggregateData.post =
            data.internship_post_aggregate.aggregate.count
        },
        error(error) {
          console.log(error)
        },
      },
    },
  },
}
</script>

<template>
  <v-layout column>
    <v-flex xs12 sm8 md6>
      <v-row class="mb-16">
        <v-col cols="12" md="4">
          <v-hover v-slot="{ hover }">
            <v-card
              :class="`${hover ? 'white' : 'main'} text-center mt-4 rounded-xl`"
              max-width="400"
              flat
            >
              <v-card-text class="pt-0">
                <div>
                  <v-icon :color="`${hover ? 'main' : 'white'}`" size="100">
                    mdi-domain
                  </v-icon>
                </div>
                <div
                  :class="`${
                    hover ? 'main--text' : 'back--text'
                  } text-h2 font-weight-bold`"
                >
                  {{ aggregateData.company }}
                </div>
                <div :class="`${hover ? 'main--text' : 'back--text'} text-h5`">
                  Companies
                </div>
              </v-card-text>
            </v-card>
          </v-hover>
        </v-col>

        <v-col cols="12" md="4">
          <v-hover v-slot="{ hover }">
            <v-card
              :class="`${hover ? 'white' : 'main'} text-center mt-4 rounded-xl`"
              max-width="400"
              flat
            >
              <v-card-text class="pt-0">
                <div>
                  <v-icon :color="`${hover ? 'main' : 'white'}`" size="100">
                    mdi-account-group
                  </v-icon>
                </div>
                <div
                  :class="`${
                    hover ? 'main--text' : 'back--text'
                  } text-h2 font-weight-bold`"
                >
                  {{ aggregateData.intern }}
                </div>
                <div :class="`${hover ? 'main--text' : 'back--text'} text-h5`">
                  Interns
                </div>
              </v-card-text>
            </v-card>
          </v-hover>
        </v-col>

        <v-col cols="12" md="4">
          <v-hover v-slot="{ hover }">
            <v-card
              :class="`${hover ? 'white' : 'main'} text-center mt-4 rounded-xl`"
              max-width="400"
              flat
            >
              <v-card-text class="pt-0">
                <div>
                  <v-icon :color="`${hover ? 'main' : 'white'}`" size="100">
                    mdi-post-outline
                  </v-icon>
                </div>
                <div
                  :class="`${
                    hover ? 'main--text' : 'back--text'
                  } text-h2 font-weight-bold`"
                >
                  {{ aggregateData.post }}
                </div>
                <div :class="`${hover ? 'main--text' : 'back--text'} text-h5`">
                  Posts
                </div>
              </v-card-text>
            </v-card>
          </v-hover>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" md="6">
          <apexchart
            width="500"
            type="line"
            :options="options"
            :series="series"
          />
        </v-col>
        <v-col cols="12" md="6">
          <apexchart
            width="500"
            type="bar"
            :options="options"
            :series="seriess"
          />
        </v-col>
      </v-row>
    </v-flex>
  </v-layout>
</template>

<style scoped>
.v-sheet--offset {
  top: -24px;
  position: relative;
}
</style>
