<template>
  <v-layout column>
    <v-flex xs12 sm8 md6>
      <v-container class="mt-5">
        <v-row>
          <p class="text-h3 darktext--text">
            Interns
          </p>
        </v-row>
      </v-container>

      <v-row class="mx-0" justify="center">
        <v-col class="d-flex align-center darktext--text mb-4" cols="3">
          <div>Showing 44 of 88 results</div>
        </v-col>
        <v-col>
          <!-- v-model="select"
            :loading="loading"
            :items="movies"
          :search-input.sync="search"-->
          <v-autocomplete
            class="white"
            placeholder="search interns"
            prepend-inner-icon="mdi-movie-roll"
            item-text="title"
            item-value="id"
            hide-no-data
            hide-details
            rounded
            outlined
            dense
            color="main"
            flat
            style="width:400px"
          >
            <!-- <template v-slot:item="data">
              <v-list class="ma-0" dense v-for="mov in data" :key="mov.id">
                <v-list-item @click="singleMovie(mov.id, mov.published)">

                  <v-list-item-content>
                    <v-list-item-title v-html="mov.title"></v-list-item-title>
                    <v-list-item-subtitle
                      v-html="mov.genre"
                    ></v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </v-list>
            </template>-->
          </v-autocomplete>
        </v-col>
        <v-col cols="3">
          <v-select solo-inverted dense label="Sort By" flat />
        </v-col>
      </v-row>
      <v-divider class="mb-10" inset />

      <v-row>
        <v-col cols="12" md="3">
          <v-card class="rounded-xl">
            <v-row class="ma-0" align="center" justify="center">
              <v-col class="rounded-xl text-center blacktext--text">
                <v-avatar size="90">
                  <v-img :src="require('~/assets/img/tealback.jpg')" />
                </v-avatar>

                <v-card-text>
                  <div class="text-h5 font-weight-medium">
                    Kuraz Tech PLC.
                  </div>
                  <div class="grey--text">
                    Software Company
                  </div>
                  <div class="mt-2">
                    <v-icon class="mr-1">
                      mdi-facebook
                    </v-icon>
                    <v-icon class="mr-1">
                      mdi-linkedin
                    </v-icon>
                    <v-icon>mdi-twitter</v-icon>
                  </div>
                </v-card-text>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
        <v-col cols="12" md="3">
          <v-card class="rounded-xl">
            <v-row class="ma-0" align="center" justify="center">
              <v-col class="rounded-xl text-center blacktext--text">
                <v-avatar size="90">
                  <v-img :src="require('~/assets/img/tealback.jpg')" />
                </v-avatar>

                <v-card-text>
                  <div class="text-h5 font-weight-medium">
                    Minab It Soln PLC.
                  </div>
                  <div class="grey--text">
                    Software Company
                  </div>
                  <div class="mt-2">
                    <v-icon class="mr-1">
                      mdi-facebook
                    </v-icon>
                    <v-icon class="mr-1">
                      mdi-linkedin
                    </v-icon>
                    <v-icon>mdi-twitter</v-icon>
                  </div>
                </v-card-text>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
        <v-col cols="12" md="3">
          <v-card class="rounded-xl">
            <v-row class="ma-0" align="center" justify="center">
              <v-col class="rounded-xl text-center blacktext--text">
                <v-avatar size="90">
                  <v-img :src="require('~/assets/img/tealback.jpg')" />
                </v-avatar>

                <v-card-text>
                  <div class="text-h5 font-weight-medium text-truncate">
                    Manuel Engineering
                  </div>
                  <div class="grey--text">
                    Automovtive Company
                  </div>
                  <div class="mt-2">
                    <v-icon class="mr-1">
                      mdi-facebook
                    </v-icon>
                    <v-icon class="mr-1">
                      mdi-linkedin
                    </v-icon>
                    <v-icon>mdi-twitter</v-icon>
                  </div>
                </v-card-text>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
        <v-col cols="12" md="3">
          <v-card class="rounded-xl">
            <v-row class="ma-0" align="center" justify="center">
              <v-col class="rounded-xl text-center blacktext--text">
                <v-avatar size="90">
                  <v-img :src="require('~/assets/img/tealback.jpg')" />
                </v-avatar>

                <v-card-text>
                  <div class="text-h5 font-weight-medium">
                    Habel Tech PLC.
                  </div>
                  <div class="grey--text">
                    Software Company
                  </div>
                  <div class="mt-2">
                    <v-icon class="mr-1">
                      mdi-facebook
                    </v-icon>
                    <v-icon class="mr-1">
                      mdi-linkedin
                    </v-icon>
                    <v-icon>mdi-twitter</v-icon>
                  </div>
                </v-card-text>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-0 mt-16" justify="center">
        <v-pagination v-model="page" color="main" :length="pages" circle />
      </v-row>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  layout: 'admin',
  data () {
    return {
      page: 1,
      pages: 4
    }
  }
}
</script>
