<template>
  <v-container class="mt-5">
    <v-row>
      <v-col cols="12" md="8">
        <v-card class="rounded-xl" height="380">
          <v-row style="height:200px" class="ma-0 rounded-xl">
            <img
              :src="require('~/assets/img/tealback.jpg')"
              height="200px"
              width="100%"
              class="rounded-xl"
              alt="backgroundimage"
            >
          </v-row>
          <v-row class="ma-0" style="height:100px">
            <v-col cols="3" class="mt-n16">
              <v-avatar size="128" style="border:4px white solid">
                <v-img :src="require('~/assets/img/tealback.jpg')" />
              </v-avatar>
            </v-col>
            <v-col>
              <p class="text-h4">
                Jane Doe
              </p>
              <p class="mt-n4 grey--text">
                Software Engineer
              </p>
              <p class="mt-n4 grey--text">
                Addis Ababa,Ethiopia
              </p>
              <p>
                <v-chip class small>
                  flutter
                </v-chip>
                <v-chip class small>
                  Vue.Js
                </v-chip>
                <v-chip class small>
                  Node.Js
                </v-chip>
              </p>
            </v-col>
            <v-col cols="3">
              <v-dialog v-model="dialog" persistent :retain-focus="false" max-width="600">
                <template #activator="{on}">
                  <v-btn depressed small rounded v-on="on">
                    <v-icon size="20" color="main">
                      mdi-pencil
                    </v-icon>Edit Profile
                  </v-btn>
                </template>
                <v-card>
                  <v-card-title>Edit Profile</v-card-title>

                  <v-card-text>
                    <v-text-field
                      v-model="subject"
                      dense
                      prepend-inner-icon="mdi-account"
                      color="main"
                      outlined
                      filled
                      label="Name"
                      class="mt-3"
                      placeholder="Name"
                    />
                    <v-text-field
                      v-model="subject"
                      dense
                      prepend-inner-icon="mdi-briefcase"
                      color="main"
                      outlined
                      filled
                      label="Area of Expertise"
                      class="mt-3"
                      placeholder="Area of Expertise"
                    />
                    <v-textarea
                      v-model="message"
                      dense
                      color="main"
                      filled
                      placeholder="Bio..."
                      label="Bio"
                      outlined
                    />
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer />
                    <v-btn color="red" text @click="dialog = !dialog">
                      Cancel
                    </v-btn>
                    <v-btn depressed class="transparent cyan--text">
                      Update
                      <v-icon class="ml-2">
                        mdi-update
                      </v-icon>
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-col>
          </v-row>
        </v-card>

        <v-card class="rounded-xl mt-4">
          <v-row class="ma-0 rounded-xl">
            <v-card-text>
              <p class="text-h6">
                About Me
              </p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </v-card-text>
          </v-row>
        </v-card>
      </v-col>
      <v-col cols="12" md="4">
        <v-hover v-slot="{hover}">
          <v-card class="rounded-xl mb-5">
            <v-row class="rounded-xl ma-0">
              <v-card-text>
                <v-row>
                  <v-col>
                    <p class="text-h6">
                      Location
                    </p>
                  </v-col>
                  <v-col class="text-right">
                    <v-btn v-if="hover" icon @click="dialogl=!dialogl">
                      <v-icon>mdi-pencil-outline</v-icon>
                    </v-btn>
                    <v-dialog v-model="dialogl" persistent :retain-focus="false" max-width="400">
                      <v-card>
                        <v-card-title>Edit Your Location</v-card-title>

                        <v-card-text>
                          <v-text-field
                            v-model="subject"
                            dense
                            color="main"
                            outlined
                            filled
                            label="region"
                            class="mt-3"
                            placeholder="region"
                          />
                          <v-text-field
                            v-model="subject"
                            dense
                            color="main"
                            outlined
                            filled
                            label="zone"
                            class="mt-3"
                            placeholder="zone"
                          />
                          <v-text-field
                            v-model="subject"
                            dense
                            color="main"
                            outlined
                            filled
                            label="woreda"
                            class="mt-3"
                            placeholder="woreda"
                          />
                          <v-text-field
                            v-model="subject"
                            dense
                            color="main"
                            outlined
                            filled
                            label="city"
                            class="mt-3"
                            placeholder="city"
                          />
                          <v-text-field
                            v-model="subject"
                            dense
                            color="main"
                            outlined
                            filled
                            label="subcity"
                            class="mt-3"
                            placeholder="subcity"
                          />
                        </v-card-text>
                        <v-card-actions>
                          <v-spacer />
                          <v-btn color="red" text @click="dialogl = !dialogl">
                            Cancel
                          </v-btn>
                          <v-btn depressed class="transparent cyan--text">
                            Update
                            <v-icon class="ml-2">
                              mdi-update
                            </v-icon>
                          </v-btn>
                        </v-card-actions>
                      </v-card>
                    </v-dialog>
                  </v-col>
                </v-row>
                <p>
                  <v-icon class="mx-2">
                    mdi-office-building-marker-outline
                  </v-icon>Addis Ababa
                </p>
              </v-card-text>
            </v-row>
          </v-card>
        </v-hover>

        <v-hover v-slot="{hover}">
          <v-card class="rounded-xl mb-5">
            <v-row class="rounded-xl ma-0">
              <v-card-text>
                <v-row>
                  <v-col>
                    <p class="text-h6">
                      Connect
                    </p>
                  </v-col>
                  <v-col class="text-right">
                    <v-btn v-if="hover" icon @click="dialogc=!dialogc">
                      <v-icon>mdi-pencil-outline</v-icon>
                    </v-btn>
                    <v-dialog v-model="dialogc" persistent :retain-focus="false" max-width="400">
                      <v-card>
                        <v-card-title>Edit Your Connection</v-card-title>

                        <v-card-text>
                          <v-text-field
                            v-model="subject"
                            dense
                            prepend-inner-icon="mdi-linkedin"
                            color="main"
                            outlined
                            filled
                            label="linkedin"
                            class="mt-3"
                            placeholder="linkedin"
                          />
                          <v-text-field
                            v-model="subject"
                            dense
                            prepend-inner-icon="mdi-github"
                            color="main"
                            outlined
                            filled
                            label="github/gitlab"
                            class="mt-3"
                            placeholder="github/gitlab"
                          />
                          <v-text-field
                            v-model="subject"
                            dense
                            prepend-inner-icon="mdi-twitter"
                            color="main"
                            outlined
                            filled
                            label="google"
                            class="mt-3"
                            placeholder="google"
                          />
                        </v-card-text>
                        <v-card-actions>
                          <v-spacer />
                          <v-btn color="red" text @click="dialogc = !dialogc">
                            Cancel
                          </v-btn>
                          <v-btn depressed class="transparent cyan--text">
                            Update
                            <v-icon class="ml-2">
                              mdi-update
                            </v-icon>
                          </v-btn>
                        </v-card-actions>
                      </v-card>
                    </v-dialog>
                  </v-col>
                </v-row>
                <p>
                  <v-icon class="mx-2">
                    mdi-facebook
                  </v-icon>
                  <a href="#">facebook</a>
                </p>
                <p>
                  <v-icon class="mx-2">
                    mdi-twitter
                  </v-icon>
                  <a href="#">twitter</a>
                </p>
                <p>
                  <v-icon class="mx-2">
                    mdi-linkedin
                  </v-icon>
                  <a href="#">linkedin</a>
                </p>
              </v-card-text>
            </v-row>
          </v-card>
        </v-hover>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  layout: 'admin',
  data () {
    return {
      dialog: false,
      dialogc: false,
      dialogl: false
    }
  }
}
</script>
