<template>
  <v-layout column>
    <v-flex xs12 sm8 md6>
      <v-container class="mt-5">
        <v-row>
          <p class="text-h3 darktext--text">Companies</p>
        </v-row>
      </v-container>

      <v-row class="mx-0" justify="center">
        <v-col class="d-flex align-center darktext--text mb-4" cols="3">
          <div>Showing {{ items.length }} of {{ totalCount }} results</div>
        </v-col>
        <v-col cols="5">
          <!-- v-model="select"
            :loading="loading"
            :items="movies"
          :search-input.sync="search"-->
          <v-autocomplete
            class="white"
            placeholder="search companies"
            prepend-inner-icon="mdi-movie-roll"
            item-text="title"
            item-value="id"
            hide-no-data
            hide-details
            rounded
            outlined
            dense
            color="main"
            flat
            style="width: 400px"
          >
            <!-- <template v-slot:item="data">
              <v-list class="ma-0" dense v-for="mov in data" :key="mov.id">
                <v-list-item @click="singleMovie(mov.id, mov.published)">

                  <v-list-item-content>
                    <v-list-item-title v-html="mov.title"></v-list-item-title>
                    <v-list-item-subtitle
                      v-html="mov.genre"
                    ></v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </v-list>
            </template>-->
          </v-autocomplete>
        </v-col>
        <v-col cols="3">
          <v-select
            v-model="sortSelected"
            solo-inverted
            :items="sortItems"
            dense
            label="Sort By"
            flat
            @input="selectSort"
          />
        </v-col>
        <v-col>
          <v-btn icon>
            <v-icon>mdi-plus</v-icon>
          </v-btn>
        </v-col>
      </v-row>
      <v-divider class="mb-10" inset />

      <v-row>
        <v-col v-for="company in items" :key="company.id" cols="12" md="3">
          <v-card class="rounded-xl">
            <v-row class="ma-0" align="center" justify="center">
              <v-col class="rounded-xl text-center blacktext--text">
                <v-avatar size="90">
                  <v-img :src="require('~/assets/img/tealback.jpg')" />
                </v-avatar>

                <v-card-text>
                  <div class="text-h5 font-weight-medium text-truncate">
                    {{ company.name }}
                  </div>
                  <div class="grey--text">{{ company.area_of_expertise }}</div>
                  <div v-if="company.social_media_link" class="mt-2">
                    <a
                      v-if="company.social_media_link.twitter"
                      :href="company.social_media_link.twitter"
                      ><v-icon class="mr-1"> mdi-twitter </v-icon></a
                    >
                    <a
                      v-if="company.social_media_link.linkedin"
                      :href="company.social_media_link.linkedin"
                      ><v-icon class="mr-1"> mdi-linkedin </v-icon></a
                    >
                    <a
                      v-if="company.social_media_link.github_or_gitlab"
                      :href="company.social_media_link.github_or_gitlab"
                      ><v-icon>mdi-github</v-icon></a
                    >
                  </div>
                </v-card-text>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-0 my-16" justify="center">
        <v-pagination v-model="page" color="main" :length="pages" circle />
      </v-row>
      <v-tooltip left>
        <template #activator="{ on, attrs }">
          <v-btn
            fab
            dark
            large
            class="mr-9 mt-9"
            v-bind="attrs"
            color="main"
            fixed
            right
            bottom
            v-on="on"
            @click.stop="createDialog = true"
          >
            <v-icon>mdi-plus</v-icon>
          </v-btn>
        </template>
        <span>Add Company</span>
      </v-tooltip>
      <v-dialog
        v-model="createDialog"
        persistent
        :retain-focus="false"
        max-width="400"
      >
        <v-card>
          <v-card-title>Edit Your Connection</v-card-title>

          <v-card-text>
            <v-text-field
              dense
              prepend-inner-icon="mdi-linkedin"
              color="main"
              outlined
              filled
              label="linkedin"
              class="mt-3"
              placeholder="linkedin"
            />
            <v-text-field
              dense
              prepend-inner-icon="mdi-github"
              color="main"
              outlined
              filled
              label="github/gitlab"
              class="mt-3"
              placeholder="github/gitlab"
            />
            <v-text-field
              dense
              prepend-inner-icon="mdi-twitter"
              color="main"
              outlined
              filled
              label="google"
              class="mt-3"
              placeholder="google"
            />
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn color="red" text @click="createDialog = !createDialog">
              Cancel
            </v-btn>
            <v-btn depressed class="transparent cyan--text">
              Update
              <v-icon class="ml-2"> mdi-update </v-icon>
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-flex>
  </v-layout>
</template>

<script>
import company from '~/queries/posts/company.gql'
export default {
  layout: 'admin',
  data() {
    return {
      page: 1,
      select: null,
      search: null,
      // datas: [],
      items: [],
      sortSelected: 'name',
      sortItems: [
        { text: 'sort by title', value: 'name' },
        { text: 'sort by verification', value: 'verified' },
        // { text: "sort by movie length", value: "movieLength" }
      ],
      totalCount: 0,
      loading: false,
      companies: [],
      createDialog: false,
    }
  },
  computed: {
    pages() {
      return this.items.length ? Math.ceil(this.totalCount / 6) : 0
    },
  },
  mounted() {
    this.setup()
  },
  methods: {
    selectSort(n) {
      this.sortSelected = n
      console.log(this.sortSelected)

      this.setup()
    },
    handleChange(value) {
      this.page = value
      this.setup()
    },
    async setup() {
      try {
        let sort = {}
        if (this.sortSelected === 'name') {
          sort = {
            name: 'asc',
          }
        } else if (this.sortSelected === 'verified') {
          sort = {
            verified: 'asc',
          }
        }

        const variables = {
          offset: (this.page - 1) * 8,
          limit: 8,
          order_by: sort,
        }

        const data = await this.$apollo.query({
          query: company,
          variables,
        })
        console.log('data==>>', data)

        this.items = data.data.company
        const comp = { ...data.data.company_aggregate.aggregate }

        this.totalCount = comp.count
        console.log(this.totalCount)
      } catch (err) {
        console.log('this erro', err.message)
      }
    },
  },
}
</script>
