<script>
export default {
  props: {
    slug: {
      type: String,
      default: undefined,
    },
    snack: {
      type: Boolean,
      default: false,
    },
    timeout: {
      type: Number,
      default: 10000,
    },
  },
  data() {
    return {
      hide: true,
    }
  },
  computed: {
    alert() {
      const c = this.$store.getters['alert/current']

      this.$emit('alert', c)
      return c
    },
  },

  watch: {
    alert(newVal) {
      this.hide = false
      if (newVal) {
        setTimeout(() => (this.hide = true), this.timeout)
      }
    },
  },
}
</script>
<template>
  <v-alert
    v-if="!hide && !snack && slug === alert.slug"
    :key="alert.id"
    border="bottom"
    :color="alert.type"
    dark
    class="text-center rounded-lg my-1"
  >
    {{ alert.msg }}
  </v-alert>
  <div v-else-if="!hide && snack && slug === alert.slug" :key="alert.id">
    <v-snackbar :value="true" :color="`${alert.type} darken-1`" top>
      <span class="font-weight-bold">
        {{ alert.msg }}
      </span>
    </v-snackbar>
  </div>
</template>
