<template>
  <v-app dark>
    <!-- <v-navigation-drawer v-model="drawer" :fixed="false" :clipped="true" app> -->
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant="miniVariant"
      :clipped="clipped"
      fixed
      app
    >
      <!-- <v-list-item class="pa-4">
        <v-list-item-avatar>
          <v-icon>mdi-account-circle</v-icon>
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title class="title text-uppercase">
            Kuraz Tech PLC.
          </v-list-item-title>
          <v-list-item-subtitle>kuraztech@gmail.com</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>-->

      <!-- <v-divider /> -->

      <v-list nav style="height: 100%">
        <v-list-item-group color="main">
          <v-list-item v-for="item in items" :key="item.title" :to="item.to">
            <v-list-item-icon>
              <v-icon color="main">
                {{ item.icon }}
              </v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title class="font-weight-medium">
                {{ item.title }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar color="white" :clipped-left="clipped" fixed app>
      <v-avatar size="40" class="mr-3" @click.stop="miniVariant = !miniVariant">
        <img src="/habel.png" alt="habel" />
      </v-avatar>

      <v-toolbar-title class="font-weight-bold teal--text">
        Habel Internship
      </v-toolbar-title>
      <v-spacer />
      <v-menu
        v-model="menu"
        :close-on-content-click="false"
        :nudge-width="200"
        offset-y
      >
        <template #activator="{ on, attrs }">
          <v-btn dark v-bind="attrs" icon class="mr-2" v-on="on">
            <v-icon size="25" color="main"> mdi-bell-outline </v-icon>
          </v-btn>
        </template>

        <v-card>
          <v-list>
            <v-list-item class="text-h5 main--text"> Notification </v-list-item>
          </v-list>

          <v-divider />

          <v-list two-line>
            <v-list-item>
              <v-list-item-avatar>
                <img src="/backend.jpg" alt="notif" />
              </v-list-item-avatar>
              <v-list-item-title>3 hours ago</v-list-item-title>
              <v-list-item-subtitle>
                this is placeholder for Notification one
              </v-list-item-subtitle>
            </v-list-item>

            <v-list-item>
              <v-list-item-avatar>
                <v-icon>mdi-message-bulleted</v-icon>
              </v-list-item-avatar>
              <v-list-item-title>
                this is placeholder for Notification two
              </v-list-item-title>
            </v-list-item>
          </v-list>

          <v-card-actions>
            <v-spacer />

            <v-btn text @click="menu = false"> clear all </v-btn>
          </v-card-actions>
        </v-card>
      </v-menu>

      <v-menu bottom left offset-y>
        <template #activator="{ on, attrs }">
          <!-- <v-btn icon v-bind="attrs" v-on="on">
            <v-icon>mdi-menu-down</v-icon>
          </v-btn> -->
          <v-avatar size="40" color="teal" v-bind="attrs" v-on="on">
            <span class="white--text text-h5"
              >{{ $store.getters['user/getUser'].first_name.charAt(0)
              }}{{ $store.getters['user/getUser'].last_name.charAt(0) }}</span
            >
          </v-avatar>
        </template>

        <v-list>
          <v-list-item>
            <v-list-item-avatar>
              <v-icon>mdi-cog</v-icon>
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title>Setting</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item @click="logout">
            <v-list-item-avatar>
              <v-icon>mdi-location-exit</v-icon>
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title>Logout</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-menu>
      <!-- <v-btn
        color="teal"
        class="white--text"
        depressed
        outlined
        rounded
        @click.stop
      >
        <v-icon>mdi-location-exit</v-icon>Logout
      </v-btn>-->
    </v-app-bar>

    <v-main>
      <v-container>
        <Nuxt />
      </v-container>
    </v-main>
    <v-footer dark :absolute="!fixed" app class="white--text pa-3" color="teal">
      <v-flex class="text-center">
        Copyright &copy;Habel Internship {{ new Date().getFullYear() }}. All
        rights reserved.
      </v-flex>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  middleware: ['unauthenticated'],
  data() {
    return {
      fav: true,
      menu: false,
      message: false,
      hints: true,
      drawer: true,
      miniVariant: false,
      clipped: true,
      fixed: false,
      items: [
        {
          title: 'Dashboard',
          icon: 'mdi-monitor-dashboard',
          to: '/app/dashboard',
        },
        {
          title: 'Company',
          icon: 'mdi-domain',
          to: '/app/company',
        },
        {
          title: 'Interns',
          icon: 'mdi-account-multiple',
          to: '/app/intern',
        },

        {
          title: 'Report',
          icon: 'mdi-alert-octagon',
          to: '/app/report',
        },

        { title: 'Profile', icon: 'mdi-face-man-profile', to: '/app/profile' },
      ],
    }
  },
  methods: {
    logout() {
      this.$store.dispatch('user/removeStateA')
      this.$router.replace({ name: 'index' })
    },
  },
}
</script>

<style scoped>
html {
  overflow-y: hidden;
}
</style>
