<script>
import alert from '~/components/alert.vue'

export default {
  components: {
    alert
  },
  data () {
    return {}
  },
  methods: {}
}
</script>
<template>
  <v-app>
    <v-main>
      <alert slug="app-alert-global" />
      <nuxt />
    </v-main>
    <v-footer dark class="white--text pa-3" color="teal">
      <v-flex class="text-center">
        Copyright &copy;Habel Internship {{ new Date().getFullYear() }}. All
        rights reserved.
      </v-flex>
    </v-footer>
  </v-app>
</template>

<style scoped>
/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
</style>
