<script>
import login from '~/queries/login.gql'
import alert from '~/components/alert.vue'

export default {
  components: {
    alert,
  },
  layout: 'no_auth',
  data() {
    return {
      clearable: true,
      loading: false,
      valid: false,
      show: false,
      username: '',
      password: '',
    }
  },
  head() {
    return {
      title: 'Admin Login',
    }
  },
  methods: {
    async submit() {
      this.loading = true
      try {
        const { data } = await this.$apollo.query({
          query: login,
          variables: {
            email: this.username.toLowerCase(),
            password: this.password,
          },
          fetchPolicy: 'no-cache',
        })

        if (data.admin_login.error) throw new Error(data.admin_login.error)

        const token = data.admin_login.accessToken

        let claims = token.split('.')[1]

        claims = JSON.parse(atob(claims))

        claims.token = token

        this.$store.commit('user/setUserData', claims)

        this.$router.replace({ name: 'app-dashboard' })

        this.loading = false
      } catch (error) {
        this.loading = false
        this.$store.dispatch('alert/alert', {
          slug: 'login',
          error: error.message,
        })
      }
    },
  },
}
</script>

<template>
  <v-app dark class="grey lighten-4 mb-n15">
    <v-container fluid>
      <v-row justify="center" align="center" class="mt-15 mb-n15">
        <v-col cols="12" md="5">
          <v-card
            elevation="2"
            class="pa-10 rounded-card"
            color="grey lighten-5"
          >
            <v-card-text
              class="
                text-center
                display-3
                font-weight-bold
                mb-2
                mt-n9
                teal--text
              "
              >Login</v-card-text
            >
            <div class="mb-7 text-center">
              <p class="teal--text text--darken-4">As Admin</p>
            </div>

            <v-form v-model="valid" @submit.prevent="submit">
              <alert
                :key="currentAlert.slug"
                :alert="currentAlert"
                slug="app-alert-login"
                class="mt-3 mb-3"
              />

              <v-text-field
                v-model="username"
                :rules="rules.required"
                label="Username"
                placeholder="Enter your email as username"
                :clearable="clearable"
                outlined
                color="teal"
                type="email"
                autofocus
                elevation="0"
                clear-icon="mdi-close-box-multiple-outline"
                prepend-inner-icon="mdi-account-outline"
                class="black--text"
              ></v-text-field>
              <v-text-field
                v-model="password"
                label="Password"
                :rules="rules.required"
                :clearable="clearable"
                outlined
                color="teal"
                placeholder="Enter your password"
                elevation="0"
                :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                :type="show ? 'text' : 'password'"
                prepend-inner-icon="mdi-lock-question"
                clear-icon="mdi-close-box-multiple-outline"
                class="mt-2"
                @click:append="show = !show"
              ></v-text-field>
              <v-btn
                raised
                large
                rounded
                :loading="loading"
                block
                type="submit"
                color="teal"
                class="white--text font-weight-regular medium mt-4"
                :disabled="!valid"
                >Login
              </v-btn>

              <div class="mt-6 text-right">
                <nuxt-link
                  class="teal--text text--darken-4 text-right"
                  style="text-decoration: none"
                  to="/forget"
                  >Forgot password?</nuxt-link
                >
              </div>
            </v-form>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-app>
</template>

<style scoped>
.rounded-card {
  border-radius: 5% !important;
}
</style>
